.auth-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.auth-box {
    padding: 50px;
    width: 400px;
    text-align: center;
}

.auth-title {
    font-size: 32px;
    margin-bottom: 30px;
}

.auth-error {
    color: red;
    font-size: 12px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-input {
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #AF878D;
    outline: none;
    color: #AF878D;
}

.auth-submit-btn {
    margin-top: 20px;
    padding: 12px;
    background: transparent;
    border: 1px solid #AF878D;
    color: #AF878D;
    cursor: pointer;
    letter-spacing: 2px;
}

.auth-divider {
    margin: 20px 0;
    font-size: 12px;
    opacity: 0.7;
}

.google-btn {
    width: 100%;
    padding: 12px;
    background: #FDF9F2;
    border: 1px solid #AF878D;
    color: #AF878D;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.google-icon {
    width: 20px;
}

.auth-footer {
    margin-top: 30px;
    font-size: 14px;
}

.auth-link {
    font-weight: bold;
}

@media (max-width: 500px) {
    .auth-box {
        width: 90%;
        padding: 40px 20px;
    }

    .auth-title {
        font-size: 28px;
    }

    .back-link {
        top: 20px;
        left: 20px;
    }
}